<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius delectus autem nesciunt, fugit at voluptate exercitationem, saepe ipsa excepturi repellendus similique debitis laudantium cupiditate accusantium nemo totam quibusdam quisquam sapiente.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nobis, modi molestias ipsum dicta ipsa. At vitae, deleniti dolor vel neque, tenetur incidunt dolorem cumque consequatur accusamus vero veniam suscipit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae tenetur adipisci nostrum ad tempora delectus, aperiam fugiat ratione assumenda, eligendi non aliquam ipsam tempore repellat, optio minima dolor sit aliquid.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>